/* estilos aplicados a mi archivo index.html */
html{
    text-align: center;
    font-size: 1.5vw;
    background: url(silver-955496_640.jpg);
    background-size: 40vw;
    background-color: #262626;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 15vh;
}
html .content{
    width: 100vw;
    height: 100vh;
    font-size: 2vw;
}
body #masterdiv{
    color: #EEEEEE;
    background: hsla(0, 15%, 15%, 0.5);
    border-radius: 5px;
    margin: 3vh 25vw;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} 
form{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-content: center;
}
form #text, #comentarios, #estudios{
    display: flex;
    flex-direction: column;
}
form #radio, #checkbox{
    display: flex;
    flex-direction: row;
}
form #text, #estudios, #genero, #deportes, #comentarios{
    margin: 10px;
}
textarea, input{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 3.5vh;
    background-color: hsla(0,20%,20%,0.5);
    border: black;
    color: #CCCCCC;
}
select{
    background-color: hsla(0,20%,20%,0.5);
    color: #CCCCCC;
    border: black;
}
button{
    background-color: seagreen;
    color: white;
    border: palegreen;
    border-radius: 5px;
    height: 8vh;
    font-size: 2vw;
}
