/* estilos aplicados a mi archivo index.html */
html{
    text-align: center;
    background: linear-gradient(#EEEEEE, #DDDDDD)
}
form{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: auto 20vw;
    align-content: center;
}
form #text, #comentarios, #estudios{
    display: flex;
    flex-direction: column;
}
form #radio, #checkbox{
    display: flex;
    flex-direction: row;
}
body #text, #estudios, #genero, #deportes, #comentarios{
    margin: 10px;
}
